body {
  height: 100vh;

  @include hide-scrollbar();
}

.container-xxl {
  $enable-shadows: true;

  border-color: $gray-base;
  border-radius: 1rem;
}

//  .document-width {
//    box-sizing: border-box;
//    width: 1240px;
//    margin: 0 auto;
//    padding: 0 20px;
//  }

//  @media (max-width: $full-size) {
//    .document-width {
//      width: 100%;
//      margin: 0;
//    }
//  }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.zaglushka {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
