//- chat.pug
doctype html
html(lang='ru')
  
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(rel='icon' type='image/x-icon' href='favicon.ico')

    title Designer project lvl3

    link(rel='stylesheet' href='./styles/styles.css')
  
  body
    //- Подключение шапки сайта
    include modules/header.pug

    main
      .container
        .row
          .col
            .block-left
              .row
                .col
                  include modules/contacts.pug
                .col
                  include modules/chatlist.pug
                .col
                  include modules/profile.pug
                .col
                  include modules/chatmobile.pug
            .block-right
              .row
                .col
                  include modules/hello.pug
                .col
                  include modules/chatdesktop.pug

      //- include:markdown-it includes/main.md

    //- Подключение футера сайта
    include modules/footer.pug