//- chat.pug
extends modules/layout.pug

block variables
  -
    let hexletSwitch;
    let contacts;
    hexletSwitch = "index.html";

block chatblock-switch
  include modules/chatblock-switch.pug

block block-right
  div(class=['block-right col-lg-8 border-left border-gray-base bg-white radius-right-lg h-100'])
    include modules/chatblock.pug
