//- chat.pug
-
  let findForm
  let hexletSwitch;
  hexletSwitch = "index.html";

doctype html
html(lang='ru')
  
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(rel='icon' type='image/x-icon' href='favicon.ico')

    title Designer project lvl3

    link(rel='stylesheet' href='./css/styles.css')
  
  body
    main(class="m-0 p-lg-4 h-100")
      .row(class="radius-left-top-lg h-100")
        .block-left(class=['col-sm-12 col-lg-4 p-0 bg-white radius-left-top-lg h-100'])
          //- Подключение шапки сайта
          include modules/header.pug
          .tab-content(id="myTabContent" class="radius-left-top-lg")
            include modules/contacts.pug
            include modules/chatlist.pug
            include modules/profile.pug
            include modules/chatblock-body.pug
        .block-right(class=['col-lg-8 border-left border-gray-base bg-white radius-right-top-lg'])
          include modules/chatblock.pug
          //- include modules/chatdesktop.pug
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    //- script(src="js/app.min.js")
    //- include:markdown-it includes/main.md

  //- Подключение футера сайта
  //- include modules/footer.pug