//- index.pug
doctype html
html(lang='ru')
  
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(rel='icon' type='image/x-icon' href='favicon.ico')

    title Designer project lvl3

    link(rel='stylesheet' href='./css/styles.css')
  
  body
    main(class="m-4")
      .row
        .block-left(class=['col-sm-12 col-lg-4 border-right p-0'])
          //- Подключение шапки сайта
          include modules/header.pug
          include modules/contacts.pug
          include modules/chatlist.pug
          //- include modules/profile.pug
          //- include modules/chatmobile.pug
        .block-right(class=['col-lg-8 pt-5 bg-danger'])
          //- include modules/hello.pug
          //- include modules/chatdesktop.pug

    //- include:markdown-it includes/main.md

  //- Подключение футера сайта
  //- include modules/footer.pug