//- index.pug
extends modules/layout.pug
-
  let hexletSwitch;
  hexletSwitch = "chat.html";

block block-right
  .block-right(class=['col-lg-8 border-left border-gray-base bg-gray-base h-100 radius-right-lg'])
    include modules/hello.pug
