//- index.pug
extends modules/layout.pug

block variables
  -
    let hexletSwitch;
    hexletSwitch = "chat.html";

block block-right
  div(class=['block-right col-lg-8 border-left border-gray-base bg-gray-base h-100 radius-right-lg'])
    include modules/hello.pug
