.block-right {
  display: none;
  overflow-y: hidden;
}

@include media-breakpoint-up(lg) {
  .block-right {
    display: block;
  }
}

.block-right-hello {
  width: 100%;
  height: 100vh;
  margin-top: -38px;
}
