.chatblock-title {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: $white;
}

.chatblock-title-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;
  overflow-x: hidden;
}

.chatblock-body {
  height: 80vh;

  @include hide-scrollbar();
}

.chatblock-message-body {
  max-width: 558px;
}
