.chatlist {
  height: calc(100vh - #{$h-header} - #{$h-findform});

  @include hide-scrollbar();
}

@include media-breakpoint-up(lg) {
  .chatlist {
    height: calc(100vh - #{$h-main-paddings} - #{$h-header} - #{$h-findform});
  }
}

.chatlist-card {
  &:hover {
    background-color: $primary;

    .one-stroke {
      color: $white !important;
    }
  }
}
