.chatlist {
  height: calc(100vh - 290px);

  @include hide-scrollbar();
}

@include media-breakpoint-up(lg) {
  .chatlist {
    height: calc(100vh - 262px);
  }
}

.chatlist-card {
  &:hover {
    background-color: $primary;

    .one-stroke {
      color: $white !important;
    }
  }
}
