.chats {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: $white;
}

.chat-list {
  display: flex;
  height: calc(100vh - 290px);
  //-   overflow: auto;

  @include hide-scrollbar();
}

@include media-breakpoint-up(lg) {
  .chat-list {
    height: calc(100vh - 262px);
  }
}

.chat-last-time {
  height: 19px;
  margin-bottom: 0;
  margin-left: auto;
}

.chat-last-message {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-name {
  padding-right: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-card {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  height: 90px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0 1rem;

  &:hover {
    background-color: $primary;

    .chat-name,
    .chat-last-message,
    .chat-last-time {
      color: $white;
    }
  }
}

.chat-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;
  overflow-x: hidden;
}

.chat-title {
  display: flex;
}
