.chatblock-body {
  height: calc(100vh - 162px);

  @include hide-scrollbar();
}

@include media-breakpoint-up(lg) {
  .chatblock-body {
    height: 75vh;
  }
}

.chatblock-send {
  position: absolute;
  right: 0;
  bottom: 0;
}
