.contacts {
  display: flex;
  flex-direction: column;
  height: 81%;
  margin-bottom: 10px;
  overflow: hidden;
}

.contact-list {
  display: flex;
  height: calc(100vh - 300px);
  //-   overflow: auto;

  @include hide-scrollbar();
}

.contact-status {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact-name {
  padding-right: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact-card {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;
  height: 90px;
  padding: 20px 24px 20px 16px;

  &:hover {
    background-color: $primary;

    .contact-name,
    .contact-status {
      color: $white;
    }
  }
}

.contact-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;
  overflow-x: hidden;
}

//.contact-form-text {
//  height: 3rem;
//}

.contact-abc {
  margin-top: 42px;
}
