.contact-list {
  height: calc(100vh - 235px);

  @include hide-scrollbar();
}

@include media-breakpoint-up(lg) {
  .contact-list {
    height: calc(100vh - 300px);
  }
}

.contact-card {
  &:hover {
    background-color: $primary;

    .one-stroke {
      color: $white;
    }
  }
}
