.contacts {
  margin-bottom: 10px;
}

.contact-list {
  height: calc(100vh - 235px);

  @include hide-scrollbar();
}

@include media-breakpoint-up(lg) {
  .contact-list {
    height: calc(100vh - 300px);
  }
}

.contact-status {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact-name {
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact-card {
  height: 90px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 20px 24px 20px 16px;

  &:hover {
    background-color: $primary;

    .contact-name,
    .contact-status {
      color: $white;
    }
  }
}
