.header-main {
  position: absolute;
  bottom: 0;
  display: flex;
}

@include media-breakpoint-up(lg) {
  .header-main {
    position: unset;
  }
}

.header-menu {
  display: flex;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  width: auto;
  height: auto;
}

.header-link {
  display: flex;
  align-items: center;
  color: $white;
}

.nav-link {
  margin: 0.5rem 2rem 0.5rem 0;
  padding: 0;
}
