.header-main {
  display: flex;
}

@include media-breakpoint-up(lg) {
  .header-main {
    border-radius: 16px 0px 0px 0px;
  }
}

.header-menu {
  display: flex;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  width: auto;
  height: auto;
}

.header-icon-small {
  width: 1.5rem;
  height: 1.5rem;
  fill: $white;
  margin-right: 0.5rem;
}

.header-icon-hexlet {
  width: 1.5rem;
  height: 1.5rem;
  fill: $white;
}

.header-link {
  color: $white;
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 0;
  margin: .5rem 2rem .5rem 0;
}