-
  findForm = {
    formName: "Чаты", 
    formText: "Поиск по сообщениям"
  }

div(class="chatblock tab-pane fade show" id="current-chat" role="tabpanel" aria-labelledby="current-chat-tab")
  div(class="d-md-none position-relative")
    include chatblock.pug
  div(class="d-sm-none d-md-block")
    include chatlist.pug