//- chatlist.pug
-
  let chats = {
    "11:45": [{
      name: "Вениамин Редакторович",
      lastMessage: "o_O",
      avatar: "images/dest/avatar_4.jpg",
    }],

    "10:12": [{
      name: "Джедай Падаванов",
      lastMessage: "Привет, скоро третий проект? Уже скоро надо...",
      avatar: "images/dest/avatar_2.jpg",
    }],

    "08:53": [{
      name: "Алексей Примадонин",
      lastMessage: "Тесты упали >_<",
      avatar: "images/dest/avatar_3.jpg",
    }],
  }

  findForm = {
    formName: "Чаты", 
    formText: "Поиск по контактам"
  }

.chats(class="px-4 pt-5 tab-pane fade" id="chats" role="tabpanel" aria-labelledby="chats-tab")
  include findform.pug
  ul.chat-list(class="list-group")
    each val, index in chats
      each person in val
        a.chat-card(href="#" class="border-gray-base shadow-sm text-reset text-decoration-none my-2")
          img.avatar(src= person.avatar)
          .chat-body
            .chat-title
              h2.chat-name(class="text-bold")= person.name
              p.chat-last-time(class="text-small")= index
            p.chat-last-message(class="text-small")= person.lastMessage


