-
  let contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "images/dest/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "images/dest/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "images/dest/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "images/dest/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "images/dest/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "images/dest/avatar_6.jpg"
    }],

    "Я": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "images/dest/avatar_6.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "images/dest/avatar_5.jpg"
    }],
  }

.contacts(class="px-4 pt-5 tab-pane fade show active" id="contacts" role="tabpanel" aria-labelledby="contacts-tab")
  h1.h2(class=['pb-3']) Контакты
  include findformcontacts.pug
  ul.contact-list(class="list-group")
    each val, index in contacts
      p.contact-abc(class="mb-2 text-muted")= index
      each person in val
        li
          a.contact-card(href="#" class="border-gray-base shadow-sm text-reset text-decoration-none my-2 mx-1")
            img.avatar(src= person.avatar)
            .contact-body
              h2.contact-name(class="text-bold")= person.name
              p.contact-status(class="text-small")= person.status
          

