h1.h2(class=['pb-3 text-dark'])= findForm.formName
form(class="mb-0")
  .form-group(class="border-bottom border-gray-base mb-0")
    label.sr-only(for="search")= findForm.formName
    input.form-control(type="text", placeholder= findForm.formText class="p-4 border-0 shadow-none bg-white")
