form(class="mb-5")
  .form-group(class="border-bottom border-gray-base")
    label.sr-only(for="search") Чаты
    input.form-control(type="text", placeholder="Поиск по сообщениям" class="p-4 border-0 shadow-none bg-white")
