h1(class="h2 pb-3 text-dark font-weight-bold")= findForm.formName
form(class="mb-0")
  div(class="form-group border-bottom border-gray-base mb-0")
    label.sr-only(for="search")= findForm.formName
    input(type="text", placeholder= findForm.formText class="form-control p-4 border-0 shadow-none bg-white")
