//- header.pug
header.header-main(class="bg-primary text-white p-4 text-small")
  a.header-link(href="#" class="text-reset text-decoration-none text-white")
    svg.header-icon-hexlet
      use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#logo")
  nav.header-menu
    a.header-link(href="#" class="text-reset text-decoration-none")
      svg.header-icon-small
        use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#people")
      span Контакты
    a.header-link(href="#" class="text-reset text-decoration-none")
      svg.header-icon-small
        use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#chat")
        a(href="#")
      span Сообщения
    a.header-link(href="#" class="text-reset text-decoration-none")
      svg.header-icon-small
        use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#person")
      span Профиль
    