//- header.pug
header.header-main(class="bg-primary text-white py-4 pl-3 pr-0 text-small")
  ul.nav(class="d-flex justify-content-between w-100"  id="myTab" role="tablist")
    li.nav-item(role="presentation")
      a.header-link(href="#" class="text-reset text-decoration-none text-white mr-4 mr-xl-0")
        svg.header-icon-hexlet
          use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#logo")
    .header-menu
      li.nav-item(role="presentation")
        a.header-link(href="#contacts" class="text-reset text-decoration-none nav-link active" id="contacts-tab" data-toggle="tab" role="tab" aria-controls="contacts" aria-selected="true")
          svg.header-icon-small
            use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#people")
          span(class="d-none d-xl-inline") Контакты
      li.nav-item(role="presentation")
        a.header-link(href="#chats" class="text-reset text-decoration-none nav-link" id="chats-tab" data-toggle="tab" role="tab" aria-controls="chats" aria-selected="false")
          svg.header-icon-small
            use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#chat")
          span(class="d-none d-xl-inline") Сообщения
      li.nav-item(role="presentation")
        a.header-link(href="#" class="text-reset text-decoration-none nav-link disabled" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false")
          svg.header-icon-small
            use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#person")
          span(class="d-none d-xl-inline") Профиль
    