//- hello.pug
div(class="w-100 h-100 d-flex flex-column align-items-center justify-content-center bg-white radius-right-top-lg")
  img(src="images/dest/avatar_1.jpg" class="mb-3 avatar-hello")
  p(class="font-weight-bold h6 m-0") Привет, Кодовёнок
  p(class="small text-secondary m-0") Выбери чат, чтобы начать общаться
