-
  let contactData = {
    "country": [{
      descr: "Страна",
      content: "Москва, Россия",
      icon: "images/dest/sprite/stack/svg/sprite.stack.svg#globe",
    }],

    "phone": [{
      descr: "Телефон",
      content: "+7 (499) 123-45-67",
      icon: "images/dest/sprite/stack/svg/sprite.stack.svg#phone",
    }],

    "Email": [{
      descr: "Email",
      content: "nikita.m@hexlet.io",
      icon: "images/dest/sprite/stack/svg/sprite.stack.svg#message",
    }],

    "Twitter": [{
      descr: "Twitter",
      content: "@n__mikhaylov",
      icon: "images/dest/sprite/stack/svg/sprite.stack.svg#people",
    }],
  }

  findForm = {
    formName: "Профиль", 
    formText: "Поиск по сообщениям"
  }

div(class="profile px-4 pt-5 tab-pane fade bg-white scroll-control-profile" id="profile" role="tabpanel" aria-labelledby="profile-tab")
  include findform.pug
  div(class="mt-5 mb-5 d-flex flex-column align-items-center")
    div(class="profile-name pt-3 mt-1 d-flex flex-column align-items-center w-75")
      img(src="images/dest/avatar_1.jpg" class="avatar my-3 avatar-big")
      h2(class="text-bold" class="mb-3 text-center") Кодовёнок Хекслетович
      p(class="text-small" class="pb-1 mb-5 text-center text-secondary") Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  div(class="profile-social my-2 pt-1 d-flex flex-column align-items-center")
    each contactInf, index in contactData
      each val in contactInf
        if index == "Twitter"
          div(class= "border-gray-base py-2 px-1 w-75 d-flex flex-raw justify-content-between")
            div
              p(class="text-small text-secondary m-0")= val.descr
              p(class="text-small m-0")= val.content
            div(class="d-flex align-items-center text-secondary")
              svg.icon-small
                  use(xlink:href= val.icon)
        else
          div(class= "border-gray-base py-2 px-1 w-75 d-flex flex-raw justify-content-between border-bottom border-gray-base")
            div
              p(class="text-small text-secondary m-0")= val.descr
              p(class="text-small m-0")= val.content
            div(class="d-flex align-items-center text-secondary")
              svg.icon-small
                  use(xlink:href= val.icon)

      