.profile(class="px-4 pt-5 tab-pane fade bg-white" id="profile" role="tabpanel" aria-labelledby="profile-tab")
  h1.h2(class=['pb-3']) Профиль
  form
    .form-group(class="border-bottom border-gray-base mb-2")
      label.sr-only(for="search") Поиск по сообщениям
      input.form-control(type="text", placeholder="Поиск по сообщениям" class="py-3 border-0 shadow-none") 
  div(class="my-4 d-flex flex-column align-items-center")
    .profile-name(class="py-3 mb-3 d-flex flex-column align-items-center w-75")
      img.avatar(src="images/dest/avatar_1.jpg" class="mb-3 avatar-big")
      h2(class="text-bold" class="mb-3 text-center") Кодовёнок Хекслетович
      p(class="text-small" class="mb-3 text-center text-secondary") Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  .profile-social(class="my-4 d-flex flex-column align-items-center")
    .country(class="border-gray-base py-2 px-1 w-75 d-flex flex-raw justify-content-between")
      .profile-social-title
        p(class="text-small text-secondary m-0") Страна
        h2(class="text-small text-bold m-0") Москва, Россия
      div(class="d-flex align-items-center")
        svg.icon-small
            use(xlink:href="images/dest/sprite/stack/svg/sprite.stack.svg#globe")

      