$gray-base: #efefef;
$primary: #4545a5;
$light: #fbfbfb;
$dark: #212529;

$theme-colors: ("gray-base": $gray-base);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$enable-shadows: true;

$grid-gutter-width: 0;

$sides: (
  "all",
  "top",
  "bottom",
  "left",
  "rigth"
);

//heights
$h-main-paddings: 48px;
$h-header: 72px;
$h-findform: 159px;
$h-chatblock-send-sm: 75px;
$h-chatblock-send-lg: 83px;
$h-chatblock-header: 91px;
